@model PathString
<nav class="navbar sticky-top navbar-expand-lg d-block text-white" style="background-color:#181A1B; box-shadow: 0px 1px 1px 3px #26142a;">
    <span class="navbar-brand mb-0 ms-2 h1">Kelime Defteri</span>
    
    @if (Model != "/Defter/Homepage" && Model != "/")
    {
        <a class="navbar-brand text-white" asp-action="Homepage" asp-controller="Defter">Ana Sayfa</a>
    }
    @if (Model != "/Defter/AllRecord")
    {
        <a class="navbar-brand text-white" asp-action="AllRecord" asp-controller="Defter">Tüm Kelimeler</a>
    }
    @if (Model != "/Defter/AddRecord")
    {
        <a class="navbar-brand text-white" asp-action="AddRecord" asp-controller="Defter">Kelime Ekle</a>
    }
    @if (!Model.ToString().Contains("/Defter/RecordDetail"))
    {
        
    }
</nav>