body {
    background-color: #181A1B;
}

.mainPurple{
    background-color: #620277;
}

 #lastItemComponentContainer { /*Last record came from LastRecord Component's container style */
    box-shadow: 0px 1px 4px 4px #26142a;
}

.HomeAnchorButtons{ /*button style and size in Homepage view */
    background-color:#620277; 
    color:#DDDAD6; 
    width:200px; 
    height:50px
}

.listWord {
    background-color: #620277;
    border-color: #620277;
}


.listDef {
    background-color:gray;
}

.navbar-bg-shadow {
    background-color:#620277; 
    box-shadow: 0px 1px 1px 4px #26142a;
}


.darkslategrey {
    background-color:darkslategrey
}

.recordArea {
    box-shadow: 0px 1px 1px 2px #26142a;
}

#araBtn {
    margin-left: 1px;
}

#araBtn:hover {
    
}

.navText {
    color: white;
}

.navText:hover {
    color: #181A1B;
}

.purpleBtnHover {
    background-color: #620277
}

.purpleBtnHover:hover {
    background-color: purple;
}

.custom-text-white {
    color:#DDDAD6;
}

#homeJumbo {
    box-shadow: 0px 0px 1px 3px #26142a
}