<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="/CustomJavaScript/InputGeneration.js"></script>
@model CreateRecordViewModel
<partial name="_NavbarPartial" model="@Context.Request.Path" />
<h1 class="display-2 text-center mt-5 fw-bold fst-italic" style="color:white">Kelime Ekleme Sayfasına Hoş Geldiniz ! :)</h1>


<div id="container" class="container" >
    <form asp-action="AddRecord" method="post">
        <!-- First word's area starts -->
        <input id="dateInput" type="date" asp-for="Date" />
        <div class="mt-1"><span asp-validation-for="Date"></span></div>
            <div id="part-1" class="row mt-5">
                <div class="row">
                    <div class="col-3" id="part-1-word">
                        <input type="text" class="form-control mt-1"  placeholder="Kelime giriniz..." asp-for="WordName1">
                        <div class="mt-1"><span asp-validation-for="WordName1"></span></div>
                    </div>
                    <div class="col-4" id="part-1-def">
                        <input type="text" class="form-control mt-1"  placeholder="Tanım giriniz..." asp-for="Definition1">
                        <div class="mt-1"><span asp-validation-for="Definition1"></span></div>
                    </div>
                    <div class="col-3" id="part-1-type">
                        <input type="text" class="form-control mt-1" placeholder="Tür giriniz..." asp-for="Type1" data-val="true">
                        <div class="mt-1"><span asp-validation-for="Type1"></span></div>
                    </div>
                    <input id="part-1-btn" class="btn btn-dark mt-1" type="button" value="Tanım Ekle" style="width: 120px; height: 40px;">
                </div>
            </div>
        <div id="part-2" class="row mt-5">
            <div class="row">
                <div class="col-3" id="part-2-word">
                    <input type="text" class="form-control mt-1" placeholder="Kelime giriniz..." asp-for="WordName2">
                    <div class="mt-1"><span asp-validation-for="WordName2"></span></div>
                </div>
                <div class="col-4" id="part-2-def">
                    <input type="text" class="form-control mt-1" placeholder="Tanım giriniz..." asp-for="Definition2">
                    <div class="mt-1"><span asp-validation-for="Definition2"></span></div>
                </div>
                <div class="col-3" id="part-2-type">
                    <input type="text" class="form-control mt-1" placeholder="Tür giriniz..." asp-for="Type2" data-val="true">
                    <div class="mt-1"><span asp-validation-for="Type2"></span></div>
                </div>
                <input id="part-2-btn" class="btn btn-dark mt-1" type="button" value="Tanım Ekle" style="width: 120px; height: 40px;">
            </div>
        </div>
        <div id="part-3" class="row mt-5">
            <div class="row">
                <div class="col-3" id="part-3-word">
                    <input type="text" class="form-control mt-1" placeholder="Kelime giriniz..." asp-for="WordName3">
                    <div class="mt-1"><span asp-validation-for="WordName3"></span></div>
                </div>
                <div class="col-4" id="part-3-def">
                    <input type="text" class="form-control mt-1" placeholder="Tanım giriniz..." asp-for="Definition3">
                    <div class="mt-1"><span asp-validation-for="Definition3"></span></div>
                </div>
                <div class="col-3" id="part-3-type">
                    <input type="text" class="form-control mt-1" placeholder="Tür giriniz..." asp-for="Type3" data-val="true">
                    <div class="mt-1"><span asp-validation-for="Type3"></span></div>
                </div>
                <input id="part-3-btn" class="btn btn-dark mt-1" type="button" value="Tanım Ekle" style="width: 120px; height: 40px;">
            </div>
        </div>
        <div id="part-4" class="row mt-5">
            <div class="row">
                <div class="col-3" id="part-4-word">
                    <input type="text" class="form-control mt-1" placeholder="Kelime giriniz..." asp-for="WordName4">
                    <div class="mt-1"><span asp-validation-for="WordName4"></span></div>
                </div>
                <div class="col-4" id="part-4-def">
                    <input type="text" class="form-control mt-1" placeholder="Tanım giriniz..." asp-for="Definition4">
                    <div class="mt-1"><span asp-validation-for="Definition4"></span></div>
                </div>
                <div class="col-3" id="part-4-type">
                    <input type="text" class="form-control mt-1" placeholder="Tür giriniz..." asp-for="Type4" data-val="true">
                    <div class="mt-1"><span asp-validation-for="Type4"></span></div>
                </div>
                <input id="part-4-btn" class="btn btn-dark mt-1" type="button" value="Tanım Ekle" style="width: 120px; height: 40px;">
            </div>
        </div>
        <input id="ekleBtn" asp-action="AddRecord" type="submit" class="btn btn-outline-secondary offset-5 col-1 mt-5" value="Ekle" />
    </form>
</div>
