<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="/CustomJavaScript/InputGeneration.js"></script>


@model CreateRecordViewModel
<partial name="_NavbarPartial" model="@Context.Request.Path" />
<h1 class="display-2 text-center mt-5 fw-bold fst-italic" style="color:white">Kelime Ekleme Sayfasına Hoş Geldiniz ! :)</h1>


<div id="container" class="container" >
    <form asp-action="AddRecord" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <!-- First word's area starts -->
        <input type="date" asp-for="Date" />
        @for (int i = 1; i < 5; i++)
        {
            <div id="part-@i" class="row mt-5">

                <div class="row">
                    <div class="col-3" id="part-@i-word">
                        <input type="text" class="form-control mt-1"  placeholder="Kelime giriniz..." asp-for="WordName">
                    </div>
                    <div class="col-4" id="part-@i-def">
                        <input type="text" class="form-control mt-1"  placeholder="Tanım giriniz..." asp-for="Definition">
                    </div>
                    <div class="col-3" id="part-@i-type">
                        <input type="text" class="form-control mt-1" placeholder="Tür giriniz..." asp-for="Type" data-val="true">
                    </div>
                    <input id="part-@i-btn" class="btn btn-dark mt-1" type="button" value="Tanım Ekle" style="width: 120px; height: 40px;">
                </div>
            </div>
        }
        <input id="submitBtn" asp-action="AddRecord" type="submit" class="btn btn-outline-secondary offset-5 col-1 mt-5" value="Ekle" />
    </form>
</div>