@model List<GunlukKayit>

<nav class="navbar navbar-dark sticky-top bg-dark navbar-expand-lg d-block">
        <span class="navbar-brand mb-0 ms-2 h1">Kelime Defteri</span>
        <a class="navbar-brand" asp-action="AddRecord" asp-controller="Defter">Kelime Ekle</a>
</nav>
<div class="container p-3 mt-5">
    <div class="bg-dark">
        @foreach (var Kayit in Model)
        {
            <div class="text-white fw-bold fs-4 p-3 border-bottom border-secondary">
                @Kayit.date.ToShortDateString()
                <ul class="list-group p-3 mb-5">
                    @foreach (var kelime in Kayit.Kelimeler)
                    {
                        <li class="list-group-item active mt-3" aria-current="true">@kelime.Name</li>
                        @foreach (var tanim in kelime.Tanimlar)
                        {
                            <li class="list-group-item d-inline-flex" style="background-color:antiquewhite">
                                <div class="col-2">@tanim.AciklamaTuru</div>
                                @tanim.Aciklama
                            </li>
                        }
                    }
                </ul>
            </div>
            
        }
    </div>

</div>















@*

1-)Kelime: 
1. isim: tanım
2. sıfat: tanım





*@

