@model SearchInputViewModel
<nav class="navbar bg-dark sticky-top navbar-expand-lg d-block text-light">
    <span class="navbar-brand mb-0 ms-2 h1">Kelime Defteri</span>
    <a class="navbar-brand text-light" asp-action="AddRecord" asp-controller="Defter">Kelime Ekle</a>
    <form class="d-inline" method="post" asp-action="">
        <button class="float-end mb-1 btn btn-sm btn-success me-4">Ara</button>
        <input class=" border-0 text-white float-end form-control form-control-sm me-1" style="background-color:#181A1B;width:15rem; box-shadow:none" id="searchInput"
               placeholder="Kelime veya tarih (GG /AA/YYYY)" asp-for="searchInput"/>
        
    </form>
</nav>
<div class="p-2 pb-5" style="background-color:#8F00FF">
    <div class="row mt-3 mb-3">
        <h1 class="display-1 text-center text-dark" style="font-weight:600">Kelime Defteri Ana Sayfası</h1>
    </div>
    <div class="container">
        <div class="row border border-0 rounded-3" style="background-color:#901aff">
            <div class="jumbotron">
                <h1 class="display-1">Selam Kelimesever!</h1>
                <p class="lead">Bu uygulama sayesinde her gün 4 tane sevdiğin ve öğrenmek istediğin kelimeyi kaydedebilirsin.</p>
                <hr class="my-4">
                <h2>Şu ana kadar eklediğin kelime sayısı: @ViewBag.ToplamKelime</h2>
                <h2>Şu ana kadar kelime eklediğin gün sayısı: @ViewBag.ToplamKayit</h2>
                <hr class="my-4">
                <div class="text-center mb-3">
                    <a style="background-color:#4f0099" class="col-3 btn btn-dark btn-lg border-0" role="button" asp-action="AllRecord">Tüm Kelimere Git</a>
                    <a style="background-color:#4f0099" class="col-3 btn btn-dark btn-lg border-0" role="button" asp-action="AddRecord">Kelime Ekle</a>
                </div>
            </div>
        </div>
        
        
    </div>
</div>

<div class="container mt-5">
    <vc:last-record />
</div>               