@model HomeViewModel
<partial name="_NavbarPartial" model="@Context.Request.Path" />
<div class="p-2 pb-5 bg-dark">
    <div class="row mt-3 mb-3">
        <h1 class="display-1 text-center text-black" style="font-weight:600">Kelime Defteri Ana Sayfası</h1>
    </div>
    <div class="container">
            <div class="border border-0 rounded-3 bg-secondary">
                @*Jumbotron with info about app*@
                <div class="jumbotron text-secondary ps-3 pb-3" style="background-color:#152424">
                    <h1 class="display-1 fw-normal">Selam Kelimesever!</h1>
                    <p class="lead fw-bold">Bu uygulama sayesinde her gün 4 tane sevdiğin ve öğrenmek istediğin kelimeyi kaydedebilirsin.</p>
                    <hr class="my-4">
                    <h2>Şu ana kadar eklediğin kelime sayısı: @Model.TotalWordCount</h2>
                    <h2>Şu ana kadar kelime eklediğin gün sayısı: @Model.TotalRecordCount</h2>
                @*Jumbo ends*@
                    <hr class="my-4">
                        <div class="row mb-2">
                            <div class="offset-2 col-8 rounded-3" style="background-color:#252829">
                                <div class="offset-1 col-10">
                                    @*search input*@
                                    <form method="post" class="mb-4 mx-3">
                                        <div class="form-group">
                                            <label for="searchInput"></label>
                                            <div class="input-group">
                                                <input type="search" class="form-control border-0 text-dark" style="background-color:#181A1B" id="searchInput" 
                                                placeholder="Kelime veya tarih (GG /AA/YYYY) ile arama"
                                                asp-for="searchInput" 
                                                />
                                                <button class="btn btn-success border-start-0 text-black" style="margin-left:1px">Ara</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            @*Anchor buttons that redirects to AllRecords and AddRecord pages*@
                            <div class="text-center mb-3 mt-3">
                                <a style="background-color:#8F00FF" class="col-3 btn btn-dark btn-lg border-0 text-black" role="button" asp-action="AllRecord">Tüm Kelimere Git</a>
                                <a style="background-color:#8F00FF" class="col-3 btn btn-dark btn-lg border-0 text-black" role="button" asp-action="AddRecord">Kelime Ekle</a>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div>
<div class="container mt-5 text-white">
    @*@await Component.InvokeAsync("LastRecord")*@
    <vc:last-record/>
</div>               