@model HomeViewModel
<partial name="_NavbarPartial" model="@Context.Request.Path" />
@if (Model.deletedRecordDate != null)
{
    <div class="container">
        <div class="offset-4 row">
            <div class="text-white bg-warning rounded-pill" id="warningBox" style="width:400px; height:80px">
                <button id="closeBtn" class="btn btn-close ms-4"></button>
                <div class="h3 text-center text-danger">Silinen kayıt: @Model.deletedRecordDate</div>
            </div>
        </div>
    </div>
    <script>
        let warningBoxEl = document.getElementById("warningBox")
        let closeBtnEl = document.getElementById("closeBtn");
        closeBtnEl.addEventListener("click", (event) => {
            warningBoxEl.style.display = "none";
        })
    </script>
}   
<div class="p-2 pb-5" style="">
    <div class="row my-5">
        <h1 class="display-2 text-center custom-text-white" style="font-weight:600; color:#DDDAD6">Kelime Defteri Ana Sayfası</h1>
    </div>
    <div class="container">

        <div id="custom-text-white" class="border border-0 rounded-3 shadow-lg custom-text-white" style="background-color:#191b1c"> @*custom-text-white not working !*@
                @*Jumbotron with info about app*@
            <div id="homeJumbo" class="jumbotron ps-3 pe-2 pb-3 custom-text-white">
                    <h1 class="display-4 fw-bold">Selam Kelimesever!</h1>
                    <p class="lead fs-3 fw-bold py-2" >Bu uygulama sayesinde her gün 4 tane, sevdiğin ve öğrenmek istediğin kelimeyi kaydedebilirsin.</p>
                    <h1 class="mt-2">Şu ana kadar eklediğin kelime sayısı: @Model.TotalWordCount</h1>
                    <h1 class="mt-2 mb-4 py-2">Şu ana kadar kelime eklediğin gün sayısı: @Model.TotalRecordCount</h1>
                @*Jumbo ends*@
                        <div class="row mb-2">
                            <div class="offset-2 col-8 rounded-3 shadow-lg" style="background-color:#252829">
                                <div class="offset-1 col-10">
                                    @*search input*@
                                    <form method="post" class="mb-4 mx-3">
                                        <div class="form-group">
                                            <label for="searchInput"></label>
                                            <div class="input-group">
                                                <input type="search" class="form-control border-0 text-white" style="background-color:#181A1B" id="searchInput" 
                                                placeholder="Kelime veya tarih (GG/AA/YYYY) ile arama"
                                                asp-for="searchInput"
                                                />
                                                <button id="araBtn" class="btn btn-dark border-start-0 bg-gradient shadow-lg purpleBtnHover">Ara</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            @*Anchor buttons that redirects to AllRecords and AddRecord pages*@
                            <div class="text-center mb-3 mt-3">
                        <a class="btn btn-dark btn-lg border-0 bg-gradient shadow-lg HomeAnchorButtons purpleBtnHover" role="button" asp-action="AllRecord" asp-route-recordPage="1">Tüm Kelimere Git</a>
                        <a class="ms-sm-4 btn btn-dark btn-lg border-0 bg-gradient shadow-lg HomeAnchorButtons purpleBtnHover" role="button" asp-action="AddRecord">Kelime Ekle</a>
                            </div>
                        </div>
                </div>
        </div>
        <div class="row mt-5 text-white">
            <vc:last-record />
        </div>
    </div>
</div>
